/* Updated: 2025-09-29T12:34:35.328Z */
/* Updated: 2025-09-29T12:34:30.950Z */
/* Updated: 2025-09-29T12:18:33.195Z */
/* Updated: 2025-09-29T12:18:28.476Z */
/* Updated: 2025-09-29T12:02:08.081Z */
/* Updated: 2025-09-29T08:06:43.363Z */
/* Updated: 2025-09-29T07:07:40.897Z */
/* Updated: 2025-09-29T07:07:31.488Z */
/* Updated: 2025-09-29T06:49:36.287Z */
/* Updated: 2025-09-29T06:33:55.928Z */
/* Updated: 2025-09-29T06:15:18.649Z */
/* Updated: 2025-09-29T06:07:01.320Z */
/* Updated: 2025-09-28T19:39:42.126Z */
/* Updated: 2025-09-28T19:39:32.391Z */
/* Updated: 2025-09-28T18:30:39.544Z */
/* Updated: 2025-09-28T16:16:36.624Z */
/* Updated: 2025-09-28T16:16:32.282Z */
/* Updated: 2025-09-28T16:00:34.421Z */
/* Updated: 2025-09-28T16:00:30.426Z */
/* Updated: 2025-09-28T15:44:32.194Z */
/* Updated: 2025-09-28T15:44:28.090Z */
/* Updated: 2025-09-28T15:27:36.839Z */
/* Updated: 2025-09-28T15:27:31.870Z */
/* Updated: 2025-09-28T15:11:32.155Z */
/* Updated: 2025-09-28T15:11:28.193Z */
/* Updated: 2025-09-28T14:54:57.830Z */
/* Updated: 2025-09-28T14:47:30.859Z */
/* Updated: 2025-09-28T14:47:26.729Z */
/* Updated: 2025-09-28T14:17:12.509Z */
/* Updated: 2025-09-28T02:38:30.119Z */
/* Updated: 2025-09-28T02:37:57.098Z */
/* Updated: 2025-09-28T01:56:06.082Z */
/* Updated: 2025-09-28T00:59:36.358Z */
/* Updated: 2025-09-28T00:43:38.276Z */
/* Updated: 2025-09-28T00:27:38.142Z */
/* Updated: 2025-09-27T22:59:31.100Z */
/* Updated: 2025-09-27T20:12:35.996Z */
/* Updated: 2025-09-27T19:56:38.533Z */
/* Updated: 2025-09-27T18:51:50.810Z */
/* Updated: 2025-09-27T17:31:36.928Z */
/* Updated: 2025-09-27T17:15:28.676Z */
/* Updated: 2025-09-27T13:20:56.922Z */
/* Updated: 2025-09-27T12:20:19.422Z */
/* Updated: 2025-09-27T11:12:49.702Z */
/* Updated: 2025-09-27T10:31:07.096Z */
/* Updated: 2025-09-27T07:47:47.422Z */
/* Updated: 2025-09-27T07:40:05.525Z */
/* Updated: 2025-09-26T19:07:46.166Z */
/* Updated: 2025-09-26T13:53:15.579Z */
/* Updated: 2025-09-26T02:32:41.953Z */
/* Updated: 2025-09-26T02:21:52.805Z */
/* Updated: 2025-09-26T01:44:55.387Z */
/* Updated: 2025-09-25T23:50:58.854Z */
/* Updated: 2025-09-25T23:43:26.895Z */
/* Updated: 2025-09-25T23:43:04.523Z */
/* Updated: 2025-09-25T23:41:17.298Z */
/* Updated: 2025-09-25T23:39:50.639Z */
/* Updated: 2025-09-25T23:38:15.421Z */
/* Updated: 2025-09-25T23:21:34.061Z */
/* Updated: 2025-09-25T23:16:00.526Z */
/* Updated: 2025-09-25T22:49:36.259Z */
/* Updated: 2025-09-25T22:31:14.926Z */
/* Updated: 2025-09-25T22:01:39.243Z */
/* Updated: 2025-09-25T20:37:32.581Z */
/* Updated: 2025-09-25T19:25:42.614Z */
/* Updated: 2025-09-25T18:59:24.019Z */
/* Updated: 2025-09-25T17:38:09.763Z */
/* Updated: 2025-09-25T17:31:10.458Z */
/* Updated: 2025-09-25T17:22:35.578Z */
/* Updated: 2025-09-25T17:22:15.275Z */
/* Updated: 2025-09-25T17:13:54.613Z */
/* Updated: 2025-09-25T15:02:12.859Z */
/* Updated: 2025-09-25T14:33:44.047Z */
/* Updated: 2025-09-25T14:33:43.337Z */
/* Updated: 2025-09-25T13:59:52.031Z */
/* Updated: 2025-09-25T13:56:23.082Z */
/* Updated: 2025-09-24T21:42:35.901Z */
/* Updated: 2025-09-24T20:58:31.226Z */
/* Updated: 2025-09-24T20:42:55.969Z */
/* Updated: 2025-09-24T18:46:45.070Z */
/* Updated: 2025-09-24T14:42:52.098Z */
/* Updated: 2025-09-23T13:14:01.589Z */
/* Updated: 2025-09-23T12:05:16.568Z */
/* Updated: 2025-09-23T11:51:51.534Z */
/* Updated: 2025-09-22T23:03:26.505Z */
/* Updated: 2025-09-22T21:44:22.860Z */
/* Updated: 2025-09-22T21:20:48.567Z */
/* Updated: 2025-09-22T19:48:01.996Z */
/* Updated: 2025-09-22T19:23:41.675Z */
/* Updated: 2025-09-22T18:48:42.064Z */
/* Updated: 2025-09-22T18:31:52.604Z */
/* Updated: 2025-09-22T17:57:55.030Z */
/* Updated: 2025-09-22T17:37:50.702Z */
/* Updated: 2025-09-22T15:19:33.716Z */
/* Updated: 2025-09-22T12:15:36.495Z */
/* Updated: 2025-09-22T12:15:33.355Z */
/* Updated: 2025-09-22T11:42:06.683Z */
/* Updated: 2025-09-20T22:37:48.758Z */
/* Updated: 2025-09-20T22:36:13.145Z */
/* Updated: 2025-09-20T22:33:40.176Z */
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Hide Next.js error overlay portal */
nextjs-portal {
  display: none !important;
}